body {
    background: linear-gradient(to right, #ffecd2, #fcb69f);
    font-family: Arial;
    text-align: center;
}

h1 {
    color: #5a2d0c;
}

table {
    margin: auto;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 0 10px gray;
}

th, td {
    padding: 10px 15px;
    border: 1px solid #ccc;
}

th {
    background: #ff9f43;
    color: white;
}

button {
    margin-top: 15px;
    padding: 10px 25px;
    font-size: 16px;
    background: brown;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: darkred;
}

.bill-box {
    background: white;
    width: 300px;
    margin: auto;
    margin-top: 20px;
    padding: 15px;
    box-shadow: 0 0 8px gray;
}
